################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ftth-licenses-client2/v15/.suo
/.vs
