@font-face {
font-family: "Boutros";
src: url("Boutros.ttf");
}


body {
  background: #DDDDDD;
  font-family: 'Boutros' !important;
';

}

#wrapper {
  /*width: 80%;*/
  margin: 0 auto;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 0.09em solid #a0a0a0;
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
}

header {
  font-family: 'Boutros';
  background-color: #949494;
  color: white;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  padding: 8px;
  margin-bottom: 15px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#licenses {
  border-top: 1px solid #a0a0a0;
  /*width: 800px;*/
  margin: 0 auto;
}

#license .supervisor{
	color: red;
}

table {
  /*width: 800px;*/
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  border-collapse: separate;
  border: 0.09em solid #a5a5a5;
border-radius: 20px;
border-radius: 20px;

	-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.3);
	box-shadow:0px 0px 12px rgba(0, 0, 0, 0.18);

}

th {
  background-color: #96bbc7;
  color: white;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

tr {
  text-align: center;


}

td {
  padding: 2px;
  font-size: 18px;
  width: 400px;
}

a {
  text-decoration: none;
  color: red;
}

#pager {
  margin: 10px auto 10px auto;
  max-width: 273.7px;
}

.page {
  margin-left: 5px;
  background-color: #1d7693;
  color: white;
  border-radius: 2px;
  border: 1px solid #1d7693;
  font-weight: light;
}
.page:hover {
  background-color: rgba(29, 118, 147, 0.7);
}
.pageSelected {
  background-color: rgba(29, 118, 147, 0.7);
  font-weight: light;
}

#lastupdated {
  font-family: 'Boutros';
  text-align: center;
  margin: 0 auto;
  font-size: 1.09em;
}

#copyright {
  font-family: 'Boutros';
  font-size: 15px;
  max-width: 400px;
  margin: 10px auto -15px auto;
  text-align: center;
}

#copyright2 {
  font-family: 'Boutros';
  font-size: 15px;
  max-width: 400px;
  margin: 0px auto 10px auto !important;
  text-align: center;
}


#search {
  font-family: 'Boutros';
    font-size: 13px;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    display: block !important;
		text-align:right;
		margin: 10px;
    width: 265px;
    padding: 5px;
    border-radius: 12px;
    border-style: ridge;

}

img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
    display: none;}